# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/
/build
next-env.d.ts

# Production
/build

# Prisma
/prisma/*.db

# Env — JAMAIS committer les vraies valeurs
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Testing
/coverage
.nyc_output

# OS / IDE
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Divers
*.tsbuildinfo